/*  your css code here. If applicable */
body {
	background-color: #cccccc;
}
a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

.player_one {
	border: 1px solid black;
	background-color: white;
	margin: 25px;
}

.player_two {
	border: 1px solid black;
	width: 320px;
	display: flex;
	justify-content: center; 
	margin: 25px;
}

.mp3_player {
	margin: 25px;
}
